
<app-navbar></app-navbar>
<div class="container-fluid text-center">
    <div class="row">
        <div class="col">
         <h1>Get Access To World-Class<br> 
            Healthcare In India</h1>
            <p class="text-pr">We help you connect with world-renowned healthcare providers across India. Discover top-tier medical facilities, personalized care, and seamless travel arrangements for a stress-free experience. </p>
                    <br><br>
                <h5><i class="fa-solid fa-check fa-beat-fade fa-xl" style="color: #e74b08;"></i>  Receive care from top medical professionals<br>
                    <i class="fa-solid fa-check fa-beat-fade fa-xl" style="color: #e74b08;"></i>  Affordable & reliable healthcare services<br>
                    <i class="fa-solid fa-check fa-beat-fade fa-xl" style="color: #e74b08;"></i>  Wide variety of medical and wellness treatments available<br>
                    <i class="fa-solid fa-check fa-beat-fade fa-xl" style="color: #e74b08;"></i>  Easy access to medical visas and travel arrangements<br>
                    <i class="fa-solid fa-check fa-beat-fade fa-xl" style="color: #e74b08;"></i>  Assistance with post-treatment aftercare plans<br></h5>
        </div>
        <div class="col">
          2 of 2
        </div>
      </div>
</div>