
  <footer class="footer-main bg-dark fixed-bottom">
  <div class="container">
    <div class="row address-main">
      <div class="col-lg-3 col-sm-12 col-xs-12">
        <div class="address-box clearfix">
          <div class="add-icon">
            <img src="Img/footer-icon-01.png" alt="" />
          </div>
          <div class="add-content">
            
            <p> LWE Patientcare is a leading medical tourism company headquartered in India, dedicated to providing seamless healthcare solutions to global patients seeking affordable and world-class medical treatments. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12 col-xs-12">
        <div class="address-box clearfix">
          
          <div class="add-content">
            <h5>Quick Links</h5>
            <p><a href="#" class="link-underline-light">Home</a></p>
            <p><a href="#" class="link-underline-light">Doctors</a></p>
            <p><a href="#" class="link-underline-light">Hospitals</a></p>
            <p><a href="#" class="link-underline-light">Treatments</a></p>
            <p><a href="#" class="link-underline-light">About us</a></p>
            <p><a href="#" class="link-underline-light">Contact</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12 col-xs-12">
        <div class="address-box clearfix">
          
          <div class="add-content">
            <h5>Our Treatments</h5>
            <p><a href="#" class="link-underline-light">Oncology</a></p>
            <p><a href="#" class="link-underline-light">Orthopedic</a></p>
            <p><a href="#" class="link-underline-light">Organ Transplant</a></p>
            <p><a href="#" class="link-underline-light">Respiratory</a></p>
            <p><a href="#" class="link-underline-light">Neurology</a></p>
            <p><a href="#" class="link-underline-light">Cardiology</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12 col-xs-12">
        <div class="address-box clearfix">
          
          <div class="add-content">
            <h5>CONTACT US</h5>
            <p><a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="bi bi-telephone"></i></a>+91 73035 62058</p>

          <p><a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-twitter"></i></a>contact@lwepatientcare.com</p>

       <p> <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fa fa-google"></i></a>13-14 Badarpur, New delhi 110044</p>

    
          </div>
        </div>
      </div>
    </div>
</div>


<!-- Copyright Footer -->
<footer class="bg-dark text-center text-white">



<!-- Copyright -->

<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <a href="#" class="link-underline-light" style="text-decoration: none; padding-right: 10px; color:aliceblue;font-weight: 300;font-size: 13px; ">Terms and condition</a>
    <a href="#" class="link-underline-light" style="text-decoration: none; padding-right: 10px; color:aliceblue; font-weight: 300;font-size: 13px">Privacy policy</a>
    <a href="#" class="link-underline-light" style="text-decoration: none; padding-right: 10px; color:aliceblue; font-weight: 300;font-size: 13px">Disclaimer</a>
Copyright © 2023 All Rights Reserved.
</div>
<!-- Copyright -->
</footer>
</footer>
  